.App {
  text-align: center;
}

.header {
  font-size: 2rem;
  letter-spacing: 5px;
  color: white;
}

.header img {
  width: 45px;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .body {
    flex-direction: column;
  }
}
