html {
  min-width: 100%;
  min-height: 100%;
  background-image: linear-gradient(to right bottom, #c0cf7b, #8de466, #57df8e, #1fd6af, #12cbc4);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
